
#tooltip {
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  max-width: 300px;
  display: none;
  position: absolute;
  z-index: 100;
}

#tooltip.black {
  background: rgba(0,0,0,0.9);
  color: #fff;
}

#tooltip.white {
  background: rgba(255,255,255,0.9);
  color: #222;
}

#tooltip .tooltip-header {
    margin: -20px -20px 10px -20px;
    border-radius: 4px 4px 0 0;
}

#tooltip.white .tooltip-header {
    background: #f3f3f3;
    color: #666;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

#tooltip.black .tooltip-header {
    background: #222;
    color: #ccc;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

#tooltip h4 {
    margin: 0;
    padding: 0 20px;
    font-size: 1rem;
    line-height: 3rem;

}

#tooltip .content {
    font-size: 0.95rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

#tooltip .content p {
    margin: 0;
}



