<div class="browser-wrapper">
    <div class="browser-frame">
        <div class="btoolbar">
            <span class="btoolbar-button button-1"></span>
            <span class="btoolbar-button button-2"></span>
            <span class="btoolbar-button button-3"></span>
            <div class="btoolbar-address"><i class="fa fa-repeat"></i><em>{{ address }}</em></div>
            <span class="btoolbar-action"><i class="fa fa-bars"></i></span>
        </div>
        <div class="bbody">{{ shortcode.getContent()|raw }}</div>
    </div>
</div>