<button data-toggle="collapse" data-target="collapse-{{ hash }}">{{ title }}</button>
<div id="collapse-{{ hash }}" class="collapse-wrapper">
    <div class="collapse-inner">
        {{ content }}
    </div>
</div>